% rebase('osnova.html')

<style>
  #overview {
    width: 100vw;
    height: 60vh;
    /* background: url("./static/slika.jpeg") left 10% bottom 20% / cover no-repeat
      border-box; */
    /* background-image: linear-gradient(to left top, red 30%, yellow 30%, blue); */
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url("/static/slika.webp") center / cover no-repeat border-box, #ff1b68;
    position: relative;
  }

  .quote {
    display: inline-block;
    margin: 5% 0 0 10%;
  }

  .title {
    font-size: 3.5em;
  }

  .sub-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  @import "bourbon";

  .main-content-container {
    max-width: 940px;
    margin: 0 auto;
    padding: 30px;
    /*background: green;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 250px;
  }

  .content-container {
    height: 80px;
    margin: 25px 1em;
    padding-left: 10px;
    padding-right: 10px;
    /*   background: lightyellow; */
    flex: 0 1 20%;
    text-align: center;
  }

  @media (max-width: 500px) {
    .main-content-container {
      padding: 8px;
    }
    .container {
      flex: 0 1 15%;
    }
  }

  .image-caption {
    /*background: skyblue;*/
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  img {
    max-width: 100%;
    margin: 0;
  }

  #search-cars {
    margin: 80px 0 100px 0;
    text-align: center;
  }

  .search-car {
    padding: 0 10px;
  }
</style>

<section id="overview">
  <div class="quote">
    <h1 class="title">Avtomobili</h1>
    <p class="subtitle">Z vami že več kot <strong>30 let</strong>!</p>
  </div>
</section>

<section id="search-cars">
  <h1 class="sub-title">Poišči svoj avtomobil:</h1>

  <form action="" method="post">
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="znamka">
        <option value="">-- Vse znamke --</option>
        % for znamka in znamke:
        <option value="{{ znamka.znamka }}">{{ znamka.znamka }}</option>
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="model" class="select is-rounded" required>
        <option value="">-- Modeli --</option>
        % for model in modeli:
        <option value="{{ model.model }}">{{ model.model }}</option>
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="gorivo" class="select is-rounded" required>
        <option value="">-- Gorivo --</option>
        % for g in gorivo:
        <option value="{{ g.tip_goriva }}">{{ g.tip_goriva }}</option>
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="menjalnik" class="select is-rounded" required>
        <option value="">-- Tip menjalnika --</option>
        % for m in menjalnik:
        <option value="{{ m.tip_menjalnika }}">{{ m.tip_menjalnika }}</option>
        % end
      </select>
    </div>
    <a href="/specifikacije"
      ><button class="search-car button is-primary is-rounded" type="submit">
        Prikaži
      </button></a
    >
  </form>
</section>

<section id="brands-showcase">
  <div class="main-content-container">
    <div class="content-container">
      <a href="https://www.audi.si/" target="_blank"
        ><img src="/static/audi.png" alt="" />
        <p class="image-caption">AUDI</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://www.bmw.si/sl/index.html" target="_blank"
        ><img src="/static/bmw.png" alt="" />
        <p class="image-caption">BMW</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://www.ferrari.com/en-EN" target="_blank"
        ><img src="/static/ferrari.png" alt="" />
        <p class="image-caption">FERRARI</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://ford.si/" target="_blank"
        ><img src="/static/ford.png" alt="" />
        <p class="image-caption">FORD</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://www.mazda.si/" target="_blank"
        ><img src="/static/mazda.png" alt="" />
        <p class="image-caption">MAZDA</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://www.mercedes-benz.si/" target="_blank"
        ><img src="/static/mercedes.png" alt="" />
        <p class="image-caption">MERCEDES</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://www.nissan.si/" target="_blank"
        ><img src="/static/nissan.png" alt="" />
        <p class="image-caption">NISSAN</p></a
      >
    </div>
    <div class="content-container">
      <a href="https://dealer.porsche.com/si/ljubljana" target="_blank"
        ><img src="/static/porsche.png" alt="" />
        <p class="image-caption">PORSCHE</p></a
      >
    </div>
  </div>
</section>
