% rebase('osnova.html', trenutni_uporabnik=trenutni_uporabnik)

<style>
#overview {
    width: 100vw;
    height: 65vh;
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url("/static/slika1.jpg") left 10% bottom 40% / cover no-repeat border-box, #ff1b68;
    position: relative;
  }

  .title {
    font-size: 3.5em;
  }

  .sub-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  @import "bourbon";

  .main-content-container {
    max-width: 940px;
    margin: 0 auto;
    padding: 30px;
    /*background: green;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .content-container {
    height: 80px;
    margin: 25px 1em;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 1 20%;
    text-align: center;
  }

  @media (max-width: 500px) {
    .main-content-container {
      padding: 8px;
    }
    .container {
      flex: 0 1 15%;
    }
  }

  .image-caption {
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  img {
    max-width: 100%;
    margin: 0;
  }

  #search-cars {
    margin: 25px 0 50px 0;
    text-align: center;
  }

  .search-car {
    padding: 0 10px;
  }
</style>

<section id="overview">
</section>

<section id="search-cars">
  <h1 class="sub-title">Poišči svoj avtomobil:</h1>

  <form action="" method="post">
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="znamka" onchange="this.form.submit()">
        <option value="0">-- Vse znamke --</option>
        % for znamka in znamke:
            % if str(znamka.id) == _znamka:
                <option value="{{ znamka.id }}" selected> {{ znamka.znamka }}</option>
            % else:
                <option value="{{ znamka.id }}"> {{ znamka.znamka }}</option>
            % end
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="model" oninvalid="this.setCustomValidity('Prosim izberite eno izmed možnosti.')" required onchange="this.form.submit()">
        <option value="">-- Modeli --</option>
        % for model in modeli:
            % if str(model.model) == _model:
                <option value="{{ model.model }}" selected> {{ model.model }}</option>
            % else:
                <option value="{{ model.model }}"> {{ model.model }}</option>
            % end
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="gorivo" oninvalid="this.setCustomValidity('Prosim izberite eno izmed možnosti.')" required onchange="this.form.submit()">
        <option value="">-- Gorivo --</option>
        % for gorivo in goriva:
            % if str(gorivo.tip_goriva) == _gorivo:
                <option value="{{ gorivo.tip_goriva }}" selected> {{ gorivo.tip_goriva }}</option>
            % else:
                <option value="{{ gorivo.tip_goriva }}"> {{ gorivo.tip_goriva }}</option>
            % end
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="menjalnik" oninvalid="this.setCustomValidity('Prosim izberite eno izmed možnosti.')" required">
        <option value="">-- Tip menjalnika --</option>
        % for menjalnik in menjalniki:
            % if str(menjalnik.tip_menjalnika) == _menjalnik:
                <option value="{{ menjalnik.tip_menjalnika }}" selected> {{ menjalnik.tip_menjalnika }}</option>
            % else:
                <option value="{{ menjalnik.tip_menjalnika }}"> {{ menjalnik.tip_menjalnika }}</option>
            % end
        % end
      </select>
    </div>
    <a href="/specifikacije"
      ><button class="search-car button is-primary is-rounded" type="submit">
        Prikaži
      </button></a
    >
  </form>
</section>

<section id="brands-showcase">
  <div class="main-content-container">
    %links = [('https://www.audi.si/', '/static/audi.png', 'AUDI'),
    %         ('https://www.bmw.si/sl/index.html', '/static/bmw.png', 'BMW'),
    %         ('https://www.jaguarslovenija.si/', '/static/jaguar.png', 'JAGUAR'),
    %         ('https://ford.si/', '/static/ford.png', 'FORD'),
    %         ('https://www.mazda.si/', '/static/mazda.png', 'MAZDA'),
    %         ('https://www.mercedes-benz.si/', '/static/mercedes.png', 'MERCEDES'),
    %         ('https://www.nissan.si/', '/static/nissan.png', 'NISSAN'),
    %         ('https://dealer.porsche.com/si/ljubljana', '/static/porsche.png', 'PORSCHE')]
    %for link in links:
    <div class="content-container">
      <a href="{{ link[0] }}" target="_blank"
        ><img src="{{ link[1] }}" alt="" />
        <p class="image-caption">{{ link[2] }}</p></a
      >
    </div>
    %end
</section>