% rebase('osnova.html')

<style>
  #search-cars {
    margin: 80px 0 100px 0;
    text-align: center;
  }

  .search-car {
    padding: 0 10px;
  }

  .comment-title {
    text-align: center;
    font-size: 2.5em;
  }

  #comment-error {
    text-align: center;
  }

  #commets {
    text-align: center;
  }

  .media {
    width: 60%;
    text-align: center;
  }
</style>

<div class="comment-title">
  <h1>Ker nam je pomembno vaše mnenje :)</h1>
</div>

<form action="" method="post">
  <section id="search-cars">
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="znamka" required>
        <option value="">-- Vse znamke --</option>
        % for znamka in znamke:
        <option value="{{ znamka.znamka }}">{{ znamka.znamka }}</option>
        % end
      </select>
    </div>
    <div class="search-car select is-rounded is-primary">
      <select id="make" name="model" class="select is-rounded" required>
        <option value="">-- Modeli --</option>
        % for model in modeli:
        <option value="{{ model.model }}">{{ model.model }}</option>
        % end
      </select>
    </div>
    <a href="/komentar">
      <button class="search-car button is-primary is-rounded" type="submit">
        Podaj komentar
      </button>
    </a>
  </section>
</form>
