% rebase('osnova.html', trenutni_uporabnik=trenutni_uporabnik)

<style>
  .container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .data-container {
    display: inline-block;
    margin: 0 50px 0 50px;
  }
</style>

<div class="container">
  % for model in model_url_naslov:
  <img src="{{ model.url_naslov }}" alt="avto" />
  % end
  <h1></h1>
  <div class="data-container">
    <table class="table">
      <thead>
        <tr>
          <th>OSNOVNI PODATKI</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>Znamka:</th>
          %for z in znamka:
          <td>{{ z.znamka }}</td>
          %end
        </tr>
        <tr>
          <th>Model:</th>
          <td>{{ model_ }}</td>
        </tr>
        <tr>
          <th>Gorivo:</th>
          <td>{{ gorivo }}</td>
        </tr>
        <tr>
          <th>Menjalnik:</th>
          <td>{{ menjalnik }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <th>SPECIFIKACIJE</th>
        %for avto in podatki_avto:
        <th></th>
        %end
      </thead>
      <tbody>
        <tr>
          <th>Pogon:</th>
          %for pogon in pogoni:
          %for p in pogon:
          <td>{{ p.tip_pogona }}</td>
          %end
          %end
        </tr>
        <tr>
          <th>Tip motorja:</th>
          %for avto in podatki_avto:
          <td>{{ avto.tip_motorja }}</td>
          %end
        </tr>
        <tr>
          <th>Moč motorja:</th>
          %for avto in podatki_avto:
          <td>{{ avto.moc_motorja }} HP</td>
          %end
        </tr>
        <tr>
          <th>Navor:</th>
          %for avto in podatki_avto:
          <td>{{ avto.navor }} Nm</td>
          %end
        </tr>
        <tr>
          <th>Število prestav:</th>
          %for avto in podatki_avto:
          <td>{{ avto.stevilo_prestav }} stopenjski</td>
          %end
        </tr>
        <tr>
          <th>Mestna poraba:</th>
          %for avto in podatki_avto:
          <td>od {{ avto.mestna_poraba }} MPG</td>
          %end
        </tr>
        <tr>
          <th>Poraba izven naselja:</th>
          %for avto in podatki_avto:
          <td>od {{ avto.avtocestna_poraba }} MPG</td>
          %end
        </tr>
      </tbody>
    </table>
  </div>
</div>